@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
.hero {
    width: 100%;
    height: 100vh;
    background: url(https://lh3.googleusercontent.com/pw/AIL4fc_J664vcSjaTtu9w0q9LIt_trBDSlYm8NVhHC8-rI8zFPWhn385KgPcs4_Xuf4mprBPE7me6pcd8WIj9CD8zXe8Q4RliZvvQV4MnRdBLl3GgQrO5zrOy1bYF8vhF2b3v07K8GDLghIIsO5rkyxa6FHTW_JqP5PhpZ8UEzySMZQCC9D7rnUa5bsRAIqMvXMTpKtolvvWT8m6NS-cTNKWiNX4ouQb-uHpb3f1q5054rACAAMTihjNrQ__vShlZDIII-TtRcvxIjdV_N9LpHPHfSnbmZ_GGYzzEdf-uSwrhJOFsF4UR3v4Xftrl6O1gYU_GAJGcAgt23g0QuRNro5jBbF4uCkeW-GoYn8pOxnK8NWR7AN71ofb_QKQQu5fLnVPl-r9aaoAD_Wsj2kwCQwrexXSg4kZE0O2DI2W_Q9TSz0y71ay7OBsqpGQINb3rB2Npz6OHHORz8ERTSfWaG1292UWTqzmu_54IQpLCWeXqGiJHv5QcgmrLkjAw-jsWcZrtUlrpcRA6HBMI66xb2y5oiBGaD1uMHF2QpZ5KQ5iMIpXpXrZ7n8CzC17GNUCGSlCe6amaeYEWsYOQP5D3l6cLqlDFRATumpSmQpWeQBRAWK7vB0fPrH140sHR-6iE1bPVeXphYZhej68vMyFp6MTyViY22Yb0eS_df2lmhvm6euUpAu_gh7Oja7SueCtNTtK75NHjg2_MWKODm5_58oIs4TeEedBpJn-xw2hDw3NjrjMUcNRQXxz8YH6Ht7ztqXNDYZP-B1bxa48kkU53jiRz3YmgfzC4qXAz0IoBZ7O_TxuWpV08VqjgDjef53nY5KVaxV8Y-ycSzfmiFde5D0F8D6fpbDW_lc2hy2O4LTJibKnwoPaBAi2_rCqiNV8qH9yO-knhPnLlYpq0-MhU1xhvQ=w1264-h1686-s-no?authuser=0);
    background-size: cover;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
.logo {
    max-height: 60px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a {
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover {
    color: #fd4766;
}
nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: 0.3s;
    bottom: 0;
}
nav ul li a:hover:after {
    width: 100%;
}
.btn {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
}
.btn:hover {
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}
.content {
    position: absolute;
    top: 35%;
    left: 8%;
}
.content .title {
    color: #0a0a0a;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(
        120deg,
        #1c99fe 20.69%,
        #7644ff 50.19%,
        #fd4766 79.69%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h1 {
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span {
    color: #fd4766;
}
.content p {
    width: 55%;
    color: #202020;
    margin-top: 25px;
    margin-bottom: 30px;
}